body{
    background-color: #CDECF5;
    margin: 0;
    text-align: center;
    Sacramento

}


.top-container{
    padding-top: 100px;
}
h1{
    font-size: 80px;
font-family: Sacramento;
    width:10%;
    margin: 0 auto;
}

.bottom-cloud{
    size: ;
    position: absolute;
}

p{
    font-size: 30px;
}

